<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light pl-md-5 pr-md-5">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.svg" width="150" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OLYMPIADS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">YLP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WORKSHEETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VIDEOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
  <h2 class="text-center main-heading p-3">
    Know why parents love our <span class="clr bld">Year Long Program.</span> 
  </h2>
  <div class="d-flex justify-content-center align-items-center">
    <iframe src="https://www.youtube.com/embed/RJ2bQWH6GCM" class="video-sty m-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <h2 class="text-center main-heading p-3">
    Have an unlimited access to our <span class="clr">age-appropriate content.</span> 
  </h2>
  <div class="d-flex justify-content-center align-items-center mt-4">
    <div class="features p-5">
        <div class="row">
            <div *ngFor='let item of features' class="col-6 col-sm-4 col-md-3">
              <div class="card d-flex justify-content-center align-items-center">
                  <img [src]="item.image" width="100" height="100" alt="">
                <div class="card-body">
                  <h5 class="card-title text-center name-clr">{{item.name}}</h5>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5 ftr">
      <div class="features1 p-5 mt-5">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-4 w-100 p-3">
                <h6 class="ftr-hdr">COMPANY</h6>
                <div class="line mb-4"></div>
                <img src="assets/logo.svg" width="100" height="20" alt="">
                <p class=" mt-3 mb-5">Animation based International Olympiad for Playgroup to Class 5 students.</p>
                <p>About us</p>
                <p>Products</p>
                <p>Group Companies</p>
                <p>Careers</p>
                <p>hello@toonofy.com</p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 w-100 p-3">
                  <h6 class="ftr-hdr">RESOURCES</h6>
                  <div class="line mb-4"></div>
                  <div class="row w-100">
                    <div class="col-6">
                      <p>Syllabus</p>
                      <p>Olympiads</p>
                      <p>Subjects</p>
                      <p>Worksheets</p>
                      <p>Flashcards</p>
                      <p>Workbooks</p>
                      <p>Posters</p>
                      <p>Picture Talk</p>
                      <p>Games</p>         
                    </div>
                    <div class="col-6">
                        <p>Puzzles</p>
                        <p>Story-books</p>
                        <p>Practice-Tests</p>
                        <p>Mock-Tests</p>
                        <p>MCQs</p>
                        <p>NCERT</p>
                        <p>Books</p>
                        <p>Report</p>
                        <p>Videos</p>     
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 w-100 p-3">
                    <h6 class="ftr-hdr">CLASSES</h6>
                    <div class="line mb-4"></div>
                    <p>Playgroup</p>
                    <p>Nursery</p>
                    <p>LKG</p>
                    <p>UKG</p>
                    <p>Class 1</p>
                    <p>Class 2</p>
                    <p>Class 3</p>
                    <p>Class 4</p>
                    <p>Class 5</p> 
                  </div>
                  <div class="col-12 col-md-6 col-lg-2 w-100 p-3">
                      <h6 class="ftr-hdr">SOCIAL</h6>
                      <div class="line mb-4"></div>
                      <p>Instagram</p>
                      <p>Twitter</p>
                      <p>Facebook</p>
                      <p>Tumblr</p>
                      <p>LinkedIn</p>
                      <p>Pinterest</p>
                      <p>YouTube</p>
                      <p>Blogs</p> 
                    </div>
            </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="features1 pt-3 pb-3 pb-lg-0 pl-4">
          <div class="row w-100">
            <div class="col-12 col-md-12 col-lg-6">
              <p>©2020-25 Toonofy Global Pvt. Ltd. All rights reserved.</p>
            </div>
            <div class="col-12 col-md-12 col-lg-6 float-lg-right">
                <a href="#" class="fa fa-pinterest"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-tumblr"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
          </div>
        </div>
        </div>
</div>
